PORT=3000
DB_PATH=./data.sqlite
ADMIN_USER=change_me_admin
ADMIN_PASS=change_me_strong_password
ACCOUNTANT_USER=change_me_accountant
ACCOUNTANT_PASS=change_me_strong_password
VIEWER_USER=change_me_viewer
VIEWER_PASS=change_me_strong_password
AUTH_TOKEN_TTL_MS=43200000
